.config-block{
    display: flex;
    flex-direction: column;
}


form input{
    border: none;
    padding: 10px;
    border-radius: 5px  ;
   
}

.guardar-btn{
    margin-top: 15px;
    background-color: white;
}





