body{
    border: none;
    margin: 0;
    padding: 0;
}

:root{
    --azul: #1F43DB;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.celular-caja{
    background-color: var(--azul);
    height: 914px;
    width: 412px;
}


/*     Cheeseburguer     */


.navbar{
    opacity: 0;
    visibility: hidden;
    width: 50%;
    background-color: white ;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.nav-list{
    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: start;
    list-style: none;
}

.nav-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.nav-list li button{
    width: 200px;
}

.nav-list li a{
    text-decoration: none;
    color: black;
}

.navbar.visible{
    opacity: 1;
    visibility: visible;
    
}

.perfil-img-cont{
    margin-top: 20px;
 display: flex;
 justify-content: center;
}
#perfil-img{
    width: 50%;
    height: auto;
}