body{
    border: none;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--azul);
}

#idioma-detectado{
    color: white;
    text-align: center;
    margin-top: 30px;
}
.listado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#selector{
    margin-top: 20px;
    color: white;
}
#language-select{
    margin-top: 10px;
}

:root{
    --azul: #1F43DB;
}
.atras-btn{
    border-radius: 50%;
    padding: 8px 10px;
    border: none;
    width: 40px;
    height: 38px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    text-align: center;
    margin-right: 10px;
}

.atras-btn:active{
    background-color: #162257;
}

/*     Cheeseburguer     */

.encabezado{
   
    display: flex;
    
    justify-content: space-between;
}

.abrir-menu{
    border-radius: 50%;
    padding: 8px 10px;
    border: none;
    width: 40px;
    height: 38px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    text-align: center;
}

.abrir-menu.abierto{
    background-color: #162257;
}
.cerrar-btn-cont{
    padding: 10px;
}
.cerrar-menu{
    background: transparent;
    border: none;
}

.navbar{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    width: 50%;
    background-color: white ;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    flex-wrap: wrap;
    
}

.nav-list{
    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: center;
    list-style: none;
}

.nav-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.nav-list li button{
    width: 195px;
    background-color: transparent;
    border: none;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}

.navbar.visible{
    opacity: 1;
    visibility: visible;
    
}
.perfil-img-cont{
    margin-top: 20px;
 display: flex;
 justify-content: center;
}
#perfil-img{
    width: 50%;
    height: auto;
}

.microfono-cont{
 
    margin-top: 60px;
    margin-bottom: 30px;
   width: 100%;
   display: flex;
   justify-content: center;
   
}
.microfono-cont button{
width: 60%;
padding: 10px 10px;
border-radius: 50%;
box-shadow: 0 0 20px #070f31;
border: none;
background-color: transparent;

}

#microfono-btn:active{
    box-shadow: 0 0 20px #142a8f;
}

.microfono-cont img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    align-items: center;
}

/*       Texto de muestra           */

.navbar-cont{
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.text-cont{
    width: 80%;
    background-color: white;
    text-align: center;
    min-height: 9rem;
}

.lista-btn{
    display: flex;
}

.downnav-btn{
    height: 80px ;
    width: 50%;
    border-radius: 20%;
    border: none;
    margin: 10px;
    text-align: center;
   

}

/* .boton-lista{
    margin: 10px;
} */

.downbar{
    border-top: 1px solid grey;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
