body{
    border: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    --opacidad-negro: 0.8;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url(../img/inicioFond.png);
}

:root{
    --azul: #1F43DB;
}


.header{
    padding: 10px;
    display: flex;
    align-items: center;
}


.atras-btn{
    border-radius: 50%;
    padding: 8px 10px;
    border: none;
    width: 40px;
    height: 38px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    text-align: center;
    margin-right: 10px;
}

.atras-btn:active{
    background-color: #3048b8;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
}

.allcont{

    margin-top: 30px;

    background-color: rgba(31, 67, 219, 0.8) ;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 50px 50px;

    border-radius: 15px;
}

.form-cont{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 15px;
}
 
  
 .user-box {
    position: relative;
  }
  
   .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
   .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
   .user-box input:focus ~ label,
   .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    font-size: 12px;
  }
  
  .enviar-btn{
    padding: 10px;
    border-radius: 8px;
    border: none;
  }

  .enviar-btn:active{
    background-color: rgb(134, 134, 134);
  }


  .regist-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }

  .regist-link p{
    color: #d8d8d8;
  }

  .regist-link a{
    margin-left: 10px;
    color: white;
    font-weight: bolder;
  }

  
  