body{
    border: none;
    margin: 0;
    padding: 0;
    color: white;
}

:root{
    --azul: #1F43DB;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.celular-caja{
    background-color: var(--azul);
    height: 914px;
    width: 412px;
}

.header{
    padding: 10px;
}

.config-title{
    padding-left: 50px;
}

.config-cont{
    display: flex;
    justify-content: center;
}

.config-list{
    display: flex;
    flex-direction: column;
}

.config-block button{
    width: 20rem;
    height: 50px;
    margin-top: 10px;
}